@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row p-2">
        <input id="link" type="text" class="form-control" placeholder="Введите ссылку на музыку">
    </div>

    <div class="row p-2">
        <button id="download" type="button" class="btn btn-light">Загрузить</button>
    </div>

    <div class="container" id="apiresult">

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#download').click(function (e) {
                e.preventDefault();
                var link = $('#link').val();
                console.log(link)
                waitForResponse(link);
            });
        });

        function waitForResponse(link) {
            console.log('waitforresponse');
            $.ajax({
                method: "GET",
                url: "@Url.Action("Download", "Home")",
                data: { link: link }
            }).done(function(html) {
                $("#apiresult").empty();
                $("#apiresult").append(html);
                var resulttext = $('#resulttext').text();
                console.log(resulttext);
                if (resulttext == 'Загрузка...') {
                    console.log('start waitforresponse');
                    setTimeout(waitForResponse(link), 1000);
                }
            });
        }

    </script>
}
