@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10">@Model.RootFolder</h1>

    <div class="row p-2">
        <input id="link" type="text" class="form-control" placeholder="Введите ссылку на музыку">
    </div>

    <div class="row p-2">
        <button id="download" type="button" class="btn btn-light">Скачать!</button>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#download').click(function (e) {
                e.preventDefault();
                var link = $('#link').val();
                window.location.href = '@Url.Action("Download", "Home")?link=' + link;
            });
        });
    </script>
}
