@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row p-2">
        <input id="link" type="text" class="form-control" placeholder="Введите ссылку на музыку">
    </div>

    <div class="row p-2">
        <button id="download" type="button" class="btn btn-light">Загрузить на сервер</button>
    </div>

    <div class="container" id="apiresult">

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#download').click(function (e) {
                e.preventDefault();
                var link = $('#link').val();
                console.log(link)

                while (true) {
                    var resulttext = 'Загрузка..'
                    try {
                        $('#apiresult').load('@Url.Action("Download", "Home")?link=' + link, function() { 
                            var resulttext = $('#resulttext').text();
                            console.log(resulttext)
                            if (resulttext != 'Загрузка...') {
                                break;
                            }
                            console.log("пробуем еще разок бычок");
                        });
                    } catch (error) {
                        console.log(error);
                        break;
                    }
                }
            });
        });

        function sleepFor(sleepDuration){
            var now = new Date().getTime();
            while(new Date().getTime() < now + sleepDuration){ 
                /* Do nothing */ 
            }
        }

    </script>
}
